@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potwierdzenie zapomnianego hasła";
}

<h1>@ViewData["Title"]</h1>
<p>
    Sprawdź swoją skrzynkę pocztową, aby zobaczyć dalsze instrukcje dotyczące resetowania hasła.
</p>
