@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie zresetowania hasła";
}

<h1>@ViewData["Title"]</h1>
<p>
    Twoje hasło zostało zresetowane. <a asp-page="./Login">Kliknij tutaj, aby się zalogować</a>.
</p>
