@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie rejestracji";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Ta aplikacja nie ma obecnie zarejestrowanego prawdziwego nadawcy e-maili. Zobacz 
    <a href="https://aka.ms/aspaccountconf">
        te dokumenty
    </a>
    , aby dowiedzieć się, jak skonfigurować prawdziwego nadawcę e-maili.
    Zwykle wiadomość ta jest wysyłana e-mailem: 
    <a id="confirm-link" href="@Model.EmailConfirmationUrl">
        Kliknij tutaj, aby potwierdzić swoje konto
    </a>
</p>
    }
    else
    {
<p>
    Sprawdź swoją pocztę e-mail, aby potwierdzić swoje konto.
</p>
    }
}

