@{
    ViewData["Title"] = "Strona Domowa";
}

<div class="text-center">
    <h1 class="display-4">Witaj</h1>
    <button style="background-color:#0d6efd;border-color:#0d6efd;border-radius:.25rem;padding:.375rem .75rem;"><a asp-area="" asp-controller="Projects" asp-action="Index" style="text-decoration:none; color:white;">Projekty</a></button>
    <button style="background-color:#0d6efd;border-color:#0d6efd;border-radius:.25rem;padding:.375rem .75rem;"><a asp-area="" asp-controller="ProjectTasks" asp-action="Index" style="text-decoration:none;color:white;">Zadania</a></button>
    <button style="background-color:#0d6efd;border-color:#0d6efd;border-radius:.25rem;padding:.375rem .75rem;"><a asp-area="" asp-controller="Chat" asp-action="Index" style="text-decoration:none;color:white;">Komunikator</a></button>
</div>
